@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #19222c;
    font-family: 'Poppins', sans-serif;
}


h1 {
    font-size: 2rem;
    color: #FFF;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
    color: #FFF;
    font-weight: 600;
}